*,*::after,*::before{    /**is selecting everything. This allows us to apply the border-box model to all elements on the page.*/
	box-sizing: border-box;
}


@media (min-width: 60em) {
	
/*		The flexbox 'order' property lets us re-order items	as they are flowed. Smaller values position items closer to the top, or to the left, higher values place them near the end, or to the right. Depending on the orientation of the flexbox flow.
*/	
 .containercontent div{
 	
 	display: flex;
 	flex-direction: column;
 }

 .containercontent{
 	padding-left: 40%;
 	font-size: 1.8rem;
 }
}