*,*::after,*::before{    /**is selecting everything. This allows us to apply the border-box model to all elements on the page.*/
	box-sizing: border-box;

}
body {
  font-family: Verdana, Geneva, sans-serif; 
      margin: 0;
    padding: 0;
}

h2 {
  margin-top: 6rem;
  text-align: center;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
  display: inline-block;
  max-width: 800px;
  
}

a:visited {	
	color: #d9d9d9;
	text-decoration: none;
}

nav a:hover, nav a:focus {
  text-decoration:underline; ;
}

.Showtext{
	text-align: center;
}

.box-item-inEle{
	margin-left: 24%;
	width: 52%;
	margin-right: 24%;
}

.indexfooter {
	background-color: black;
	color: white;
	text-align: center;
	padding: 2rem;
}

.indexfooter a:hover{
	text-decoration: underline;
}
@media all and (max-width: 750px) {    /*medium scree, center the menu item with even space*/
  .nav-main {
    justify-content: space-around;
  }
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {float: left;}
  div.main {margin-left: 0;}
}

@media all and (max-width: 400px) {
	.sidenav a{
		font-size: 0.4rem;
		text-align: center;
		float: none;

	}
  .nav-main {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  #navbar {
  	flex-direction: column;
  }

  .nav-main a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .nav-main a { 
    border-bottom: none;
  }

  #navbar a{
  	text-align: center;
  	float: none;
  }

  .cardContainer {
	display: block;
	flex-wrap: wrap;
}
}/* --------- Media Queries  finishing nav styling --------------*/


.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
  text-align: center;
}

.element:hover{
	background-color: #f9ecf9;
	transform: scale(1.3);
}

/*2. adding space between sections*/
section{
  margin-top: 2em;
  margin-bottom: 2em;
}

/* --------------The side navigation menu---------------------------- */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgba(250,250,250,0.4); 
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20%; /* Place content 20% off from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.8rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.menuItem,.sidenav a:hover{
  color: #4d4d4d;
  text-decoration: line-through #f9ecf9;
}

/* Links on mouse-over */
.menuItem:hover:not(.active) {
  background-color: #4d4d4d;
  color: black;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.dotStyle{
	text-align:center;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 25%;
  right: 25px;
  font-size: 2.1rem;
  margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* ------------------------- Gallery styling -------------------------------*/
* {box-sizing:border-box}

/* Gallery-container */
.gallery-container {
	display: block;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(128,128,128,0.8);
}

/* Caption text */
.gallery-container text {
  color: #f2f2f2;
  background-color: #333333;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 0.8rem;
  padding: 8px 12px;
  position: absolute;
  bottom: 0; right: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* ------------------------- about styling -------------------------------*/
/*changing styling to the intext link*/
#inText{
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #365066;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}
#inText:hover, #inText:focus{
  background-color: #7AA7CF;
  text-decoration-color: #EFEEEA;
}

#inText:visited{
  color:rgb(255,255,255);
}

#contact h3{
	display: inline-block;
	padding-right: 2rem
}

#emailLexi{
	text-decoration: underline;
	color: inherit;   /*inherit the style from the h3 element */
}

.circle {
  border-radius: 50%;
}
.brand img {
	margin-left: 28%;
  width: 44%;
  height: auto;
  margin-right: 28%;
}
.circle:hover
{
        -webkit-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
}
/*------------------------work styling----------------------------*/
.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: left;
  margin-left: 24%;
	width: 52%;
	margin-right: 24%;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.wrapper p{
	margin-left: 2em;
}

.wrapper article:hover, h2:hover{
	  text-decoration: line-through dashed #595959;
	  background: linear-gradient(65deg, rgba(230, 222, 220, 1) 0%, rgba(175, 191, 190, 1) 100%);
}

.hder {
  background-image: linear-gradient(to left, #e6e6e6,#808080);
  text-align: center;
}

.ov {
  text-align: left;
  background: #f2f2f2;
  display: block;
  flex-wrap: wrap;
}


@media all and (min-width: 600px) {
  .aside { flex: 1 0 0; }
  /*make 2 process imgs in a same row*/
  .proImg{flex: 3 0 0;}
}











/* Styling for the button */
.btnPj, .a2a_kit{
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}


.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin: 2rem;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: 400px;
  z-index: -1;
}

.imageProject{
	  width: 100%;
  height: auto;
  z-index: -1;
}

/* Style the navbar */
#navbar {
	z-index: : 5;
  overflow: hidden;

  display: flex;


  background-image: linear-gradient(to right, #4d4d4d, #d9d9d9);
}

/* Navbar links */
#navbar a {
	flex: 1;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

.cardContainer {
	display: flex;
	flex-wrap: wrap;
}

.quickView {
	flex: 1;
	margin-left: 6rem;
	min-width: 300px;
}


.quickView:hover {
	transform: scale(1.1);
}

