*,*::after,*::before{    /**is selecting everything. This allows us to apply the border-box model to all elements on the page.*/
	box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, sans-serif; 
  padding: 2rem;
}
h2 {
  margin-top: 6rem;
}

h3 {
  font-style: italic;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
  display: inline-block;
  max-width: 800px;
  
}
.nav-main{
	  list-style: none;
	  margin: 0;
/*	  background: linear-gradient(to left, #993399, #391326);*/
	  background: linear-gradient(to left, #bfbfbf, #262626);
	  
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-flow: row wrap;
	  justify-content: center;;

}

.nav-main-item {
  display:block;
  color: white;   /*color for text */
/*  background-color: #F0F0DF;   /*BDD3DE*/*/
  font-size: 1.15rem;
  padding: 1em;
  transition: background-color 0.5s ease-out;
  text-decoration: none;
  padding-right: 2rem;

}

nav a:hover, nav a:focus {
  text-decoration:underline; ;
}

@media all and (max-width: 750px) {    /*medium scree, center the menu item with even space*/
  .nav-main {
    justify-content: space-around;
  }
}

@media all and (max-width: 400px) {
  .nav-main {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .nav-main a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .nav-main a { 
    border-bottom: none;
  }
}/* --------- finishing nav styling --------------*/


.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

/*2. adding space between sections*/
section{
  margin-top: 2em;
  margin-bottom: 2em;
}



/* ------------------------- Slideshow styling -------------------------------*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* ------------------------- about styling -------------------------------*/
/*changing styling to the intext link*/
#inText{
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: #7AA7CF;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}
#inText:hover, #inText:focus{
  background-color: #365066;
  text-decoration-color: #EFEEEA;
}

#inText:visited{
  color:rgb(255,255,255);
}

/* Styling for the button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
}


/*  4.changing styling to the image
*/
/*.imageChange{
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}
*/


/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
}

/* Make the image to responsive */
.image {
  width: 100%;
  height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: .3s ease;
}

/* When you mouse over the container, the overlay text will "zoom" in display */
.container:hover .overlay {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/*    focus change for the image
*/

/*
  changing color Palette size
*/
#imgColor{
width: 200px;
height:400px;
  object-fit: contain;
}
#imgColor:hover{
  transform: scale(2);
}

.selectColor:focus img{
    border: 2px solid blue;
}

fieldset{
  margin-top: 2em;
  margin-bottom: 2em;
  display: inline-block;
}
input:focus {
    opacity: 0;
}
label{
  margin: 2em;
  display: inline-block;
}

label:hover {
  background-color: rgb(135,230,9);

}


/*
  TEXT ELEMENTS -------------------
*/
.container1{
  display: flex;
  padding: 3em;
}

.container1 div{
  border: 2px #F0F0DF solid;
  background-color: #FF9000;
  color: white;
  padding: 2rem;
}

.box1{
  flex:2;
}

.box2{
  flex:1;
}



/*
  COMBINED ELEMENTS -------------------
*/
.container-payment{
  margin: 2em;
  background-color: #c0d6e4;
  padding: 15px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
.btnPay{
  background-color: rgb(0,200,30);
  color: lightgrey;
  font-size: 1.2rem;
  margin: 10px 0;
  padding: 12px;
  border:none;
  border-radius: 3px;
  cursor: pointer;

}
.btnPay:hover, .btnPay:focus{
  background-color: #4CAF50;
  text-decoration-color: #EFEEEA;
}

.icon-container{

  padding: 5px 15px;
  font-size: 24px;
}